
    <!--[if lt IE 8]>
      You are using an unsupported browser.
    <![endif]-->
    <div class="navbar navbar-default navbar-outer">
  <div class="navbar-header">
    <div class="container">
      <div class="navbar-brand">
        <!--[if IE]><div class='logo-small'> <![endif]-->
        <img alt="Foreman" src="http://localhost:3002/assets/foreman.png" />
        <!--[if IE]></div> <![endif]-->
        <a href="/" data-id="aid_not_defined">Foreman</a>
      </div>
        <div>
          <ul class="nav navbar-nav navbar-right navbar-header-menu navbar-collapse collapse" id="menu4">

            <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="account_menu"><img alt="Change your avatar at gravatar.com" class="avatar small" onerror="this.src=&#x27;/assets/user.jpg&#x27;" src="http://secure.gravatar.com/avatar/2e3458169ec423666270dfe6ae600742?d=mm&amp;s=30" />Foreman Admin <span class="caret"></span></a>
  <ul class="dropdown-menu pull-right">
          <li class="menu_tab_/users_edit"><a href="/users/1/edit" data-id="aid_users_1_edit" id="menu_item_my_account">My account</a></li>
          <li class="divider"></li>
          <li class="menu_tab_/users_logout"><a href="/users/logout" data-id="aid_users_logout" data-method="post" id="menu_item_logout" rel="nofollow">Log out</a></li>
  </ul>
</li>

          </ul>
        </div>
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-inner navbar-fixed-top persist-header">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-admin">
    <span class="glyphicon glyphicon-cog"></span>
  </button>
  <div class="container">
    <!-- menu -->
        <ul class="nav navbar-nav navbar-menu navbar-collapse collapse" id="menu">
            <li class="dropdown org-switcher menu_tab_dropdown" >
    <a href="#" class ="dropdown-toggle" data-toggle="dropdown" >Any Context<span class="caret"></span></a>

    <ul class="dropdown-menu">
      <li class="nav-header">Organization</li>
<li class="dropdown-submenu org-menu">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown">Any Organization</a>
  <ul class="dropdown-menu org-submenu">
      <li><a href="/organizations/clear" data-id="aid_organizations_clear">Any Organization</a></li>
      <li class="divider"></li>
      <li><a href="/organizations/112-acme_corporation/select" data-id="aid_organizations_112-acme_corporation_select">ACME_Corporation</a></li>
      <li><a href="/organizations/1-foreman/select" data-id="aid_organizations_1-foreman_select">Foreman</a></li>
      <li><a href="/organizations/111-eng/select" data-id="aid_organizations_111-eng_select">Foreman/eng</a></li>
      <li><a href="/organizations/113-mega/select" data-id="aid_organizations_113-mega_select">Mega</a></li>
  </ul>
</li>
  <li><a href="/organizations" class="manage-menu" data-id="aid_organizations">Manage Organizations</a></li>

      <li class="divider"></li>
      <li class="nav-header">Location</li>
<li class="dropdown-submenu loc-menu">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown">Any Location</a>
  <ul class="dropdown-menu loc-submenu">
      <li><a href="/locations/clear" data-id="aid_locations_clear">Any Location</a></li>
      <li class="divider"></li>
      <li><a href="/locations/114-adsfasdfadfadfasdf/select" data-id="aid_locations_114-adsfasdfadfadfasdf_select">adsfasdfadfadfasdf</a></li>
      <li><a href="/locations/73-europe/select" data-id="aid_locations_73-europe_select">Europe</a></li>
      <li><a href="/locations/74-czech/select" data-id="aid_locations_74-czech_select">Europe/Czech</a></li>
      <li><a href="/locations/76-brno/select" data-id="aid_locations_76-brno_select">Europe/Czech/Brno</a></li>
      <li><a href="/locations/79-building-a/select" data-id="aid_locations_79-building-a_select">Europe/Czech/Brno/Building A</a></li>
      <li><a href="/locations/77-prague/select" data-id="aid_locations_77-prague_select">Europe/Czech/Prague</a></li>
      <li><a href="/locations/75-israel/select" data-id="aid_locations_75-israel_select">Europe/Israel</a></li>
      <li><a href="/locations/78-jerusalem/select" data-id="aid_locations_78-jerusalem_select">Europe/Israel/Jerusalem</a></li>
      <li><a href="/locations/3-tlv/select" data-id="aid_locations_3-tlv_select">Europe/Israel/TLV</a></li>
      <li><a href="/locations/15-building-a/select" data-id="aid_locations_15-building-a_select">Europe/Israel/TLV/Building A</a></li>
      <li><a href="/locations/48-rack7/select" data-id="aid_locations_48-rack7_select">Europe/Israel/TLV/Building A/rack7</a></li>
      <li><a href="/locations/16-rack8/select" data-id="aid_locations_16-rack8_select">Europe/Israel/TLV/Building A/rack8</a></li>
      <li><a href="/locations/110-new-name/select" data-id="aid_locations_110-new-name_select">new name</a></li>
      <li><a href="/locations/10-the-cloud/select" data-id="aid_locations_10-the-cloud_select">The Cloud</a></li>
  </ul>
</li>
  <li><a href="/locations" class="manage-menu" data-id="aid_locations">Manage Locations</a></li>

    </ul>
  </li>

          <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="monitor_menu">Monitor<span class="caret"></span></a>
  <ul class="dropdown-menu">
          <li class="menu_tab_dashboard_index"><a href="/dashboard" data-id="aid_dashboard" id="menu_item_dashboard">Dashboard</a></li>
          <li class="menu_tab_/reports_index"><a href="/reports?search=eventful+%3D+true" data-id="aid_reports" id="menu_item_reports">Reports</a></li>
          <li class="menu_tab_fact_values_index"><a href="/fact_values" data-id="aid_fact_values" id="menu_item_fact_values">Facts</a></li>
          <li class="menu_tab_statistics_index"><a href="/statistics" data-id="aid_statistics" id="menu_item_statistics">Statistics</a></li>
          <li class="menu_tab_trends_index"><a href="/trends" data-id="aid_trends" id="menu_item_trends">Trends</a></li>
          <li class="menu_tab_audits_index"><a href="/audits" data-id="aid_audits" id="menu_item_audits">Audits</a></li>
  </ul>
</li>
 <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="hosts_menu">Hosts<span class="caret"></span></a>
  <ul class="dropdown-menu">
          <li class="menu_tab_hosts_index"><a href="/hosts" data-id="aid_hosts" id="menu_item_hosts">All hosts</a></li>
          <li class="menu_tab_/hosts_new"><a href="/hosts/new" data-id="aid_hosts_new" id="menu_item_newhost">New host</a></li>
        <li class="divider"></li>
        <li class="nav-header">Provisioning Setup</li>
          <li class="menu_tab_operatingsystems_index"><a href="/operatingsystems" data-id="aid_operatingsystems" id="menu_item_operatingsystems">Operating systems</a></li>
          <li class="menu_tab_config_templates_index"><a href="/config_templates" data-id="aid_config_templates" id="menu_item_config_templates">Provisioning templates</a></li>
          <li class="menu_tab_ptables_index"><a href="/ptables" data-id="aid_ptables" id="menu_item_ptables">Partition tables</a></li>
          <li class="menu_tab_media_index"><a href="/media" data-id="aid_media" id="menu_item_media">Installation media</a></li>
          <li class="menu_tab_models_index"><a href="/models" data-id="aid_models" id="menu_item_models">Hardware models</a></li>
          <li class="menu_tab_architectures_index"><a href="/architectures" data-id="aid_architectures" id="menu_item_architectures">Architectures</a></li>
  </ul>
</li>
 <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="configure_menu">Configure<span class="caret"></span></a>
  <ul class="dropdown-menu">
          <li class="menu_tab_hostgroups_index"><a href="/hostgroups" data-id="aid_hostgroups" id="menu_item_hostgroups">Host groups</a></li>
          <li class="menu_tab_common_parameters_index"><a href="/common_parameters" data-id="aid_common_parameters" id="menu_item_common_parameters">Global parameters</a></li>
        <li class="divider"></li>
        <li class="nav-header">Puppet</li>
          <li class="menu_tab_environments_index"><a href="/environments" data-id="aid_environments" id="menu_item_environments">Environments</a></li>
          <li class="menu_tab_puppetclasses_index"><a href="/puppetclasses" data-id="aid_puppetclasses" id="menu_item_puppetclasses">Puppet classes</a></li>
          <li class="menu_tab_config_groups_index"><a href="/config_groups" data-id="aid_config_groups" id="menu_item_config_groups">Config groups</a></li>
          <li class="menu_tab_lookup_keys_index"><a href="/lookup_keys" data-id="aid_lookup_keys" id="menu_item_lookup_keys">Smart variables</a></li>
  </ul>
</li>
 <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="infrastructure_menu">Infrastructure<span class="caret"></span></a>
  <ul class="dropdown-menu">
          <li class="menu_tab_smart_proxies_index"><a href="/smart_proxies" data-id="aid_smart_proxies" id="menu_item_smart_proxies">Smart proxies</a></li>
          <li class="menu_tab_compute_resources_index"><a href="/compute_resources" data-id="aid_compute_resources" id="menu_item_compute_resources">Compute resources</a></li>
          <li class="menu_tab_compute_profiles_index"><a href="/compute_profiles" data-id="aid_compute_profiles" id="menu_item_compute_profiles">Compute profiles</a></li>
          <li class="menu_tab_subnets_index"><a href="/subnets" data-id="aid_subnets" id="menu_item_subnets">Subnets</a></li>
          <li class="menu_tab_domains_index"><a href="/domains" data-id="aid_domains" id="menu_item_domains">Domains</a></li>
          <li class="menu_tab_realms_index"><a href="/realms" data-id="aid_realms" id="menu_item_realms">Realms</a></li>
  </ul>
</li>

        </ul>
        <ul class="nav navbar-nav navbar-admin navbar-right navbar-collapse collapse" id="menu2">
          <li class="dropdown menu_tab_dropdown">
  <a href="#" class="dropdown-toggle" data-id="aid_not_defined" data-toggle="dropdown" id="administer_menu">Administer<span class="caret"></span></a>
  <ul class="dropdown-menu">
          <li class="menu_tab_locations_index"><a href="/locations" data-id="aid_locations" id="menu_item_locations">Locations</a></li>
          <li class="menu_tab_organizations_index"><a href="/organizations" data-id="aid_organizations" id="menu_item_organizations">Organizations</a></li>
        <li class="divider"></li>

          <li class="menu_tab_auth_source_ldaps_index"><a href="/auth_source_ldaps" data-id="aid_auth_source_ldaps" id="menu_item_auth_source_ldaps">LDAP authentication</a></li>
          <li class="menu_tab_users_index"><a href="/users" data-id="aid_users" id="menu_item_users">Users</a></li>
          <li class="menu_tab_usergroups_index"><a href="/usergroups" data-id="aid_usergroups" id="menu_item_usergroups">User groups</a></li>
          <li class="menu_tab_roles_index"><a href="/roles" data-id="aid_roles" id="menu_item_roles">Roles</a></li>
        <li class="divider"></li>

          <li class="menu_tab_bookmarks_index"><a href="/bookmarks" data-id="aid_bookmarks" id="menu_item_bookmarks">Bookmarks</a></li>
          <li class="menu_tab_settings_index"><a href="/settings" data-id="aid_settings" id="menu_item_settings">Settings</a></li>
          <li class="menu_tab_about_index"><a href="/about" data-id="aid_about" id="menu_item_about_index">About</a></li>
  </ul>
</li>

        </ul>
  </div>
</div>



  <div id="main">
    <div id="content" class="container">
      <br />
      <br />
      {{outlet}}

    </div>
  </div>
