<h2>List of Domains</h2>

<div class='row'>
  <div class='col-md-3'>
<ul>
  {{#each}}
    <li>
      {{!#link-to 'subnet' this}}
        {{name}}
      {{!/link-to}}
    </li>
  {{else}}
    <li>No domains found.</li>
  {{/each}}
</ul>
  </div>
  <div class='col-md-6'>
    {{outlet}}
  </div>
</div>
