<h2>Hostgroup</h2>

<div class='row'>
  <div class='col-md-6'>
    Name: {{name}}
    <br />
    Subnet: {{subnet.name}}
  </div>
  <div class='col-md-6'>
    {{view Ember.TextField valueBinding='name'}}
    <br />
    <p>Subnet:
      {{view Ember.Select
           content=subnets
           optionLabelPath="content.name"
           optionValuePath="content.id"
           selection=subnet
           value=subnet.id
           prompt="Select Subnet"
      }}
    </p>

  </div>
</div>

