<h2>List of Hostgroups</h2>

<ul>
  {{#each}}
    <li>
      {{#link-to 'hostgroup' this}}
        {{name}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No hostgroups found.</li>
  {{/each}}
</ul>

{{outlet}}
