<h1>Host Groups</h1>

<div class="row">

  <div class='col-md-3 two-pane-left'>

    <table class="table table-bordered table-striped table-two-pane">
      <tr>
        <th><a href="/hostgroups?order=label+ASC">Name</a></th>
      </tr>

      {{#each controller}}
        <tr>
          <td>
            {{#link-to 'hostgroup' this}}
             {{title}}
            {{/link-to}}
          </td>
        </tr>
      {{else}}
        <li>No hostgroups found.</li>
      {{/each}}
    </table>

    <div class="row" id="pagination"><div class="col-md-5 hidden-xs"><div class="pull-left pull-bottom darkgray pagination">Displaying <b>all 32</b> entries</div></div></div>
  </div>

  <div class='col-md-9 two-pane-right' style="border: 1px solid #0072a0">
  {{outlet}}
  </div>
</div>
