<div class='row'>

  <div class='col-md-6'>

    {{#link-to 'users.new'}}New Lead{{/link-to}}

    <table class="table table-striped">
      <tbody>
      <tr>
        <th>Login</th>
        <th>Name</th>
        <th>Actions</th>
      </tr>
      {{#each user in controller}}
        <tr>
          <td> {{#link-to 'user' user}} {{user.login}} {{/link-to}} </td>
          <td> {{user.fullName}} </td>
          <td>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class='col-md-6'>

    {{outlet}}

  </div>
</div>
